/*-----------GENERAL STYLES ---------------- */

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-secondary: hsl(192, 100%, 9%);
  --color--pale-cyan: hsl(193, 100%, 96%);
  --color--gray-blue: hsl(208, 11%, 55%);
}
html {
  font-size: 62.5%;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: var(--color-secondary);
  font-weight: 600;
}

button {
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.active:hover {
  filter: opacity(50%);
}
p {
  line-height: 1.4;
  font-size: 1.8rem;
}
body {
  font-family: "Open Sans", sans-serif;
}

/*---------------The Top Section--------------*/
.top {
  background: url(../images/bg-hero-desktop.svg), var(--color--pale-cyan);
  background-position: top;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 4rem 5rem;
}
/*------------This is a special  Class for displays of Row Flex-----------------*/
.flex--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__image {
  width: 15rem;
}

.navbar__button {
  font-size: 1.5rem;
  box-shadow: -1px 2px 55px -10px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -1px 2px 55px -10px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -1px 2px 55px -10px rgba(0, 0, 0, 0.64);
  padding: 1rem 4rem;
  background: #fff;
  color: var(--color-secondary);
  font-weight: 700;
}

.hero {
  margin-top: 5rem;
}

.hero__text {
  padding: 1rem;
  width: 45%;
}
.hero__text h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.hero__text p {
  color: var(--color-secondary);
  font-weight: 400;
}
.hero__image {
  width: 50%;
  margin: 1.5rem;
}

.hero__button {
  background: var(--color-primary);
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1.5rem 4.5rem;
  color: var(--color--pale-cyan);
  font-weight: 700;
}

@media screen and (max-width: 1235px) {
  .navbar__image {
    width: 17rem;
  }
  .top {
    padding: 2rem 3rem;
  }
  /*--------------This is a special class for Column Flex----------------*/
  .flex--col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__text {
    text-align: center;
    width: 100%;
  }
  .hero__image {
    width: 90%;
  }
}

/* For the NavBar Button */
@media screen and (max-width: 440px) {
  .navbar__button {
    padding: 1rem 2.3rem;
  }
}

/*--------------End of the Top Section-------------- */

/*-------------The Cards Section---------------*/
.cards {
  padding: 4rem 5rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.cards .flex--row:nth-child(even) {
  flex-direction: row-reverse;
}
.card {
  box-shadow: 0px -5px 36px -5px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px -5px 36px -5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px -5px 36px -5px rgba(0, 0, 0, 0.43);
  padding: 5rem 7rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}
.card .card__heading {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}
.card--text {
  width: 50%;
  padding-right: 2rem;
}
.card img {
  width: 45%;
}

@media screen and (max-width: 900px) {
  .cards {
    padding: 2rem 3rem;
  }
  .card {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
    padding: 3rem 4rem;
  }
  .card--text {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .card .card__heading {
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .card--text p {
    margin-bottom: 2rem;
  }
  .card img {
    width: 100%;
  }
}

/* ---------------End of the Cards Section------------- */

/* -------------The Cutout Section------------ */
.cutout {
  box-shadow: 0px -5px 36px -5px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px -5px 36px -5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px -5px 36px -5px rgba(0, 0, 0, 0.43);
  padding: 5rem 7rem;
  border-radius: 10px;
  width: 90%;
  max-width: 75rem;
  position: relative;
  top: 15rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cutout--content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cutout__heading {
  font-size: 2.5rem;
}

.cutout__button {
  padding: 2rem 5rem;
}

@media screen and (max-width: 430px) {
  .cutout__button {
    padding: 1.5rem 2rem;
  }
}

/* box-shadow: -1px 2px 55px -10px rgba(0,0,0,0.64);
-webkit-box-shadow: -1px 2px 55px -10px rgba(0,0,0,0.64);
-moz-box-shadow: -1px 2px 55px -10px rgba(0,0,0,0.64); 

.attribution {
  font-size: 1.5rem;
  color: var(--color-light-cyan);
  line-height: 1.5;
}
.attribution a {
  color: var(--color-light-cyan);
}
*/
