    <section class="cards">
      <div class="card flex--row">
        <div class="card--text">
          <h2 class="card__heading">Grow Together</h2>
          <p>
            Generate meaningful discussions with your audience and build a
            strong, loyal community. Think of the insightful conversations you
            miss out on with a feedback form.
          </p>
        </div>
        <img
          src="./images/illustration-grow-together.svg"
          alt="grow together"
        />
      </div>
      <div class="card flex--row">
        <div class="card--text">
          <h2 class="card__heading">Flowing Conversations</h2>
          <p>
            You wouldn't paginate a conversation in real life, so why do it
            online? Our threads have just-in-time loading for a more natural
            flow.
          </p>
        </div>
        <img
          src="./images/illustration-flowing-conversation.svg"
          alt="grow together"
        />
      </div>
      <div class="card flex--row">
        <div class="card--text">
          <h2 class="card__heading">Your Users</h2>
          <p>
            It takes no time at all to integrate Huddle with your app's
            authentication solution. This means, once signed in to your app,
            your users can start chatting immediately.
          </p>
        </div>
        <img src="./images/illustration-your-users.svg" alt="grow together" />
      </div>
    </section>