<!-- TOP -->
<section class="top">
  <nav class="navbar flex--row">
    <img src="./images/logo.svg" alt="Huddle Logo" class="navbar__image" />
    <button class="navbar__button active">Try It Free</button>
  </nav>
  <div class="hero flex--row flex--col">
    <div class="hero__text">
      <h1>
        Build The Community <br />
        Your Fans Will Love
      </h1>
      <p>
        Huddle re-imagines the way we build communities. You have <br />
        a voice, but so does your audience. Create connections with <br />
        your users as you engage in genuine discussion.
      </p>
      <button class="hero__button active">Get Started For Free</button>
    </div>
    <img
      src="./images/illustration-mockups.svg"
      alt="Hero Image"
      class="hero__image"
    />
  </div>
</section>
